<div class="row ptl">
  <div class="sixteen columns center center-text">
  <%= link_to root_path do %>
    <%= image_tag 'red_star_stencil_08', class: 'header-home-page-img', height: 100, width: 100 %>
  <% end %>
  </div>
</div>
<% content_for :title do %>
  <%= @post.title %>
<% end %>
<!-- 
<% content_for :meta_description do %>
  <%= truncate(strip_tags(@post.content), length: 155) %>
<% end %> -->

<article>
  <div class="content monologue-content" data-monologue="content">
    <%= render partial: 'monologue/posts/post_header', locals: {post: @post}%>
    <%= raw @post.content %>
  </div>

	<!-- <div class="tags" data-monologue="tags">
    <%= render @post.tags %>
  </div> -->

  <%# render "monologue/posts/social_sharing" %>

  <!-- <div id="disqus_thread"></div>
  <%= render 'layouts/monologue/application/disqus_embed' %>
  <noscript>Please enable JavaScript to view the comments.</noscript> -->
  <%= render 'footer/social_sharing_links' %>
  <div class="row ptl">
    <div class="sixteen columns center center-text">
      <%= link_to root_path do %>
        <%= image_tag 'red_star_stencil_08', class: '', height: 100, width: 100 %>
      <% end %>
    </div>
  </div>
</article>

